//mixin checkboxButton(array, class1)
mixin checkboxButton(val, add, lab)
  //each i in array
  //  .checkboxButton_input__wrap    
  //    input.checkboxButton_input__custom(type="checkbox" value=i id=i)   
  //    label(for=i class=class1)=i
  .checkboxButton_input__wrap    
      input.checkboxButton_input__custom(type="checkbox" value=val id=add)   
      label(for=add)=lab 
   
    

  