mixin select(select__width, select_name, value1, value2, value3, value4)  
  select.select(class=select__width name=select_name) 
    option(disable value=value1)=value1
    option(value=value2)=value2
    option(value=value3)=value3
    option(value=value4)=value4