mixin TextField(classWidth, classTextField_arrow, type, name, placeholder)    
  .textField_wrap  
    input.textField(class=classWidth type=type name=name placeholder=placeholder)
    div(class=classTextField_arrow)  