mixin card(card_carousel, carousel_btn__container, imgSrc1, imgSrc2, imgSrc3,imgSrc4, card_number, card_suite, card_price, card_reviewsSum)
  .card_container
    .card_carousel(id=card_carousel)
      //img(src='image.png')
      .carousel_btn__container(id=carousel_btn__container) 
        .carousel_btn.carousel_btn__active(data-itemid='1') 
        .carousel_btn(data-itemid='2')
        .carousel_btn(data-itemid='3')
        .carousel_btn(data-itemid='4')
      .carousel_item
        //img(src='../../../block/libs/card/carousel1.png', alt='img')  
        img(src=imgSrc1, alt='img')
      .carousel_item.displayNone
        //img(src='../../../block/libs/card/carousel2.png', alt='img')  
        img(src=imgSrc2, alt='img')
      .carousel_item.displayNone
        //img(src='../../../block/libs/card/carousel3.png', alt='img') 
        img(src=imgSrc3, alt='img') 
      .carousel_item.displayNone
        //img(src='../../../block/libs/card/carousel4.png', alt='img')  
        img(src=imgSrc4, alt='img') 
    .card_text__container
      .card_number__container
        .card_number №
        .card_number=card_number
        .card_suite=card_suite
      .card_price__container  
        .card_price=card_price
        .card_price &#8381;
        .card_price в сутки
    .card_reviews__container  
      +rateButton
      .card_reviews
        .card_reviews-sum=card_reviewsSum
        .card_reviews-sum.ml5 Отзывов
      

        

      

        
