mixin radioButtons(radioBattonName1,radioBattonValue1,radioBattonId1, radioBattonValue2,radioBattonId2) 
  fieldset.radioButtons__wrap
    .radioClass1
      label.custom-radio
        input(type='radio', name=radioBattonName1, value=radioBattonValue1,id=radioBattonId1)
        span mun
    .radioClass1      
      label.custom-radio
        input(type='radio', name=radioBattonName1, value=radioBattonValue2,id=radioBattonId2)
        span woman
      
               
    